* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e6e6ec;
  background: radial-gradient(
    circle,
    rgba(230, 230, 236, 1) 0%,
    rgba(231, 235, 231, 1) 46%,
    rgba(233, 234, 235, 1) 100%
  );
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 50vw;
  height: 35vw;
  background-color: #777;
  border-radius: 10%;
  padding: 2vw;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr 3fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px solid #000;
}

.app h1 {
  grid-area: 1 / 1 / 2 / 9;
  display: flex;
  align-items: center;
}
.app textarea {
  grid-area: 2 / 1 / 3 / 7;
  border-radius: 10%;
  padding: 1vw;
  font-size: 1.3rem;
  resize: none;
}
.app .counter {
  grid-area: 2 / 7 / 3 / 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .app .counter h2 {
} */

.app .counter .num {
  border: 1px solid #000;
  background-color: #e6e6ec;
  border-radius: 100%;
  width: 7vw;
  height: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vw;
}
